{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
#        '''add the {% csrf_token %} to every Django template you create that uses POST to sub,it data. This will reduce the chance of forms being hijacked by malicious users.''' 
        <fieldset class="form-group">
            <legend class="border-botton mb-4">Register Today!</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an Account?
            <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}
<form method="post" class="bootstrap4">
    <fieldset>
        <legend class="">bootstrap4</legend>
        {{ form|crispy }}
    </fieldset>
</form>